<header class="nav-fixed-top">
    <div class="header-wrap">
        <div class="header-wrap-inner">
            <div class="left-part">
                <div class="menu-icon justify-content-center align-items-center d-flex cursor-pointer">
                    <span class="top-line"></span>
                    <span class="middle-line"></span>
                    <span class="bottom-line"></span>
                </div>
                <div class="logo">
                    <a aria-current="page" class="" href="/">
                        <img src="https://ivisionstudio.in/static/ivision_logo-c85ed05a4fa1e29cea0e2c77da6c7c44.png">
                    </a>
                </div>
            </div>
            <div class="right-part ">
                <div class="nav">
                    <div class="nav-item">
                        <div class="nav-link">
                            <a aria-current="page" class="link " href="/">Home </a>
                        </div>
                    </div>
                    <div class="nav-item">
                        <div class="nav-link">
                            <a class="link" href="/about">About Us</a>
                        </div>
                    </div>
                    <div class="nav-item">
                        <div class="nav-link">
                            <a class="link" href="/services">Services </a>
                        </div>
                    </div>
                    <div class="nav-item">
                        <div class="nav-link">
                            <a class="link" href="/career">Career </a>
                        </div>
                    </div>
                    <div class="nav-item">
                        <div class="nav-link">
                            <a class="link" href="/team">Team</a>
                        </div>
                    </div>
                    <div class="nav-item">
                        <div class="nav-link">
                            <a class="link" href="/contact">Contact</a>
                        </div>
                    </div>
                </div>
                <div class="call-action">
                    <a href="tel:9130 036 036" class="tel-icon text-decoration-none">
                        <span aria-hidden="true" class="fa fa-phone fa-lg text-white"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="mySidenav" class="sidenav">
        <ul class="p-0">
            <li>
                <a href="javascript:void(0)" class="closebtn">×</a>
            </li>
            <li>
                <a aria-current="page" class="link" href="/">Home </a>
            </li>
            <li>
                <a class="link" href="/about">About Us </a>
            </li>
            <li>
                <a class="link" href="/services">Services </a>
            </li>
            <li>
                <a class="link" href="/career">Career </a>
            </li>
            <li>
                <a class="link" href="/team">Team</a>
            </li>
            <li>
                <a class="link" href="/contact">Contact</a>  
            </li>
        </ul>
        <div class="bottom-section">
            <div class="d-flex info-wrap flex-wrap">
                <div class="info">
                    <p class="font-weight-bold text-white">Get In Touch</p>
                    <p class="mb-0">
                        <a href="mailto:contact@ivisionstudio.in" class="mb-0 text-decoration-none footer-link">contact@ivisionstudio.in</a>
                    </p>
                    <p class="mb-0">
                        <span> USA </span>
                        <a href="tel: +1 860 967 0120" class="mb-0 text-decoration-none footer-link"> +1 860 967 0120</a>
                    </p>
                    <p class="mb-0">
                        <span> IND </span>
                        <a href="tel: +91 9130 036 036" class="mb-0 text-decoration-none footer-link"> +91 9130 036 036</a>
                    </p>
                </div>
                <div class="info">
                    <p class="font-weight-bold text-white">Work Inquiry</p>
                    <p class="mb-0">IVISION WEB STUDIO, 3rd Floor Nilgiri apartment Karve Road, Erandwane, Near Bajaj Service Station, Opposite SNDT College, Kothrud Pune 411038.</p>
                </div>
            </div>
            <div class="social-link d-flex mt-4 mb-4">
                <div class="circle mr-3">
                    <a href="https://www.facebook.com/ivision.webstudio.9" target="blank" class="d-flex">
                        <span aria-hidden="true" class="fa fa-facebook-f text-white icon"></span>
                    </a>
                </div>
                <div class="circle mr-3">
                    <a href="https://in.linkedin.com/company/ivision-studio" target="blank" class="d-flex">
                        <span aria-hidden="true" class="fa fa-linkedin text-white icon"></span>
                    </a>
                </div>
                <div class="circle mr-3">
                    <a href="https://www.instagram.com/ivisionwebstudio/?utm_source=ig_profile_share&amp;igshid=1djd4p8s9673q" target="blank" class="d-flex">
                        <span aria-hidden="true" class="fa fa-instagram text-white icon"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>