<section class="collaboration-section">
    <div class="container">
        <div>
            <p class="text-color mb-3">Collaboration</p>
            <div class="bottom-border">
                <div class="collabration-innerSection">
                    <h2 class=" mb-0 text-white title">Got a project?<br>Let’s talk</h2>
                    <button type="button" class="primary-button contact-buttom mt-sm-4 btn btn-primary">
                        <a class="text-white text-decoration-none" href="/contact">Contact Us
                            <span aria-hidden="true" class="fa fa-arrow-right ml-3"></span>
                        </a>
                    </button>
                </div>
            </div>
            <p class="m-0 text-white decription">We’re a 
                <span class="font-weight-bold">team of creatives </span>
                who are excited about unique ideas and help fin-tech<br> companies to 
                <span class="font-weight-bold">create amazing identity</span> 
                by crafting top-notch UI/UX.
            </p>    
        </div>
    </div>
</section>