<section class="pt-70 bg-color capabilties-section">
    <div class="px-4 px-md-4 container">
        <div class="row">
            <div class="col-lg-7">
                <div class="capabilities-wrap subititle-wrap">
                    <p class="subtitle">Capabilities</p>
                    <h2 class="main-title">Creative studio for website<br>design and development</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-color pb-0 pb-lg-5 ">
        <div class="container-fluid">
            <div class="row">
                <div class="p-0 col-lg-7">
                    <div class="capabilities-wrap subititle-wrap">
                        <div class="image">
                            <img src="https://ivisionstudio.in/static/capabilities-23b1d75f13e721dbd39ab17e450f60ca.jpg" width="100%">
                        </div>
                    </div>
                </div>
                <div class="p-0 col-lg-5">
                    <div class="card border-0">
                        <div class="card-body right-body">
                            <div>
                                <h3 class="main-title">We develop best web product for our customers.</h3>
                            </div>
                            <div>
                                <div class="accordian-wrapper pt-4">
                                    <div class="accordion">
                                        <accordion [isAnimated]="true" [closeOthers]="true">
                                            <accordion-group heading="Web Development">
                                                <p>We provide different services to our clients including website designing, eCommerce solution, customized web development, Magento development and UI/UX design.</p>
                                            </accordion-group>
                                            <accordion-group heading="Mobile Application Development">
                                                <p>Our mobile app development process for cross-platforms balances clarity, features and responsive interfaces.</p>
                                            </accordion-group>
                                            <accordion-group heading="eCommerce Solutions">
                                                <p>We offer professional and effective eCommerce web design and development solutions.</p>
                                            </accordion-group>
                                        </accordion>

                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

