<section class="services-section position-relative pt-80">
    <div class="borders-wrapper">
        <div class="left-site-border">
        </div>
        <div class="middle-site-border">

        </div>
        <div class="right-site-border"></div>
    </div>
    <div class="px-4 px-md-4 container">
        <div>
            <div class="row">
                <div class="col-lg-5 col-sm-8">
                    <div class="subititle-wrap mb-5">
                        <p class="subtitle">services</p>
                        <h2 class="main-title">
                            Quickly deliver usable and fully-loaded software that is market-ready
                        </h2>
                    </div>
                </div>
                <div class="col-lg-1">

                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="card-wrapper">
                                <p class="subtitle">
                                    JAM Development
                                </p>
                                <h4 class="subheading">Modern Web Development Architecture</h4>
                                <p class="description-details">
                                    The JAM Development is not about specific technologies. It’s a new way of building websites and apps that delivers better performance, higher security, lower cost of scaling, and a better developer experience.
                                </p>
                                <a class="read-more" href="/jam-development">Read More</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="card-wrapper">
                                <p class="subtitle">Web Application</p>
                                <h4 class="subheading">Creating online environments</h4>
                                <p class="description-details">
                                    Web Application Development is the creation of application programs that reside on remote servers and are delivered to the user's device over the Internet. for starters, web applications don’t require any installation and that means that they can be used almost instantly. At the same time, this also means that nearly all web applications are cloud-based by definition.
                                </p>
                                <a class="read-more" href="/web-application">Read More</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="card-wrapper">
                                <p class="subtitle">Mobile Application</p>
                                <h4 class="subheading">We turn ideas into wonderful Apps</h4>
                                <p class="description-details">
                                    A majority of the users prefer using their smartphones to navigate a website or an app. The mobile applications should be developed in congruence with a user-friendly interface, and we strive to develop top-notch and accessible mobile apps for our clients.
                                </p>
                                <a class="read-more" href="/mobile-application">Read More</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="card-wrapper">
                                <p class="subtitle">Website Development</p>
                                <h4 class="subheading">Building smarter websites</h4>
                                <p class="description-details">
                                    iVision Studio specializes in offering top-notch services in the area of web development. We work with important elements when developing a website for our clients. We make sure that the theme of the website aligns with the theme of their business/niche. In addition, we excel in the development of secure and user intuitive content management systems.
                                </p>
                                <a class="read-more" href="/website-development">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="button-wrap d-flex justify-content-lg-end justify-content-sm-start pb-4 pb-lg-5">
                        <button type="button" class="button btn btn-primary">
                            <a class="text-white text-decoration-none" href="/services">View All</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>