<carousel [loop]="false" [cellsToScroll]="5">
    <div class="carousel-cell">
        <img src="https://ivisionstudio.in/static/shubanphysiopedia-25e8d0f65feb97c14a140622dfd68497.png">
    </div>
    <div class="carousel-cell">
        <img src="https://ivisionstudio.in/static/shubanphysiopedia-25e8d0f65feb97c14a140622dfd68497.png">
    </div>
    <div class="carousel-cell">
        <img src="https://ivisionstudio.in/static/shubanphysiopedia-25e8d0f65feb97c14a140622dfd68497.png">
    </div>
    <div class="carousel-cell">
        <img src="https://ivisionstudio.in/static/shubanphysiopedia-25e8d0f65feb97c14a140622dfd68497.png">
    </div>
    <div class="carousel-cell">
        <img src="https://ivisionstudio.in/static/shubanphysiopedia-25e8d0f65feb97c14a140622dfd68497.png">
    </div>
    <div class="carousel-cell">
        <img src="https://ivisionstudio.in/static/shubanphysiopedia-25e8d0f65feb97c14a140622dfd68497.png">
    </div>
    <div class="carousel-cell">
        <img src="https://ivisionstudio.in/static/shubanphysiopedia-25e8d0f65feb97c14a140622dfd68497.png">
    </div>
    <div class="carousel-cell">
        <img src="https://ivisionstudio.in/static/shubanphysiopedia-25e8d0f65feb97c14a140622dfd68497.png">
    </div>
    <div class="carousel-cell">
        <img src="https://ivisionstudio.in/static/shubanphysiopedia-25e8d0f65feb97c14a140622dfd68497.png">
    </div>
    <div class="carousel-cell">
        <img src="https://ivisionstudio.in/static/shubanphysiopedia-25e8d0f65feb97c14a140622dfd68497.png">
    </div>
    <div class="carousel-cell">
        <img src="https://ivisionstudio.in/static/shubanphysiopedia-25e8d0f65feb97c14a140622dfd68497.png">
    </div>
    <div class="carousel-cell">
        <img src="https://ivisionstudio.in/static/shubanphysiopedia-25e8d0f65feb97c14a140622dfd68497.png">
    </div>
</carousel>